In [1]:
import torch
import torch.nn as nn
import numpy as np
import pandas as pd

from sklearn import datasets
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from db import get_all_pokemon

/Users/anirudh/UIUC/go-mama-27/personal-projects/poke-predictor/ml-model/db.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [4]:
df = get_all_pokemon()
df

/Users/anirudh/UIUC/go-mama-27/personal-projects/poke-predictor/ml-model/db.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,id,name,hp,attack,defense,sp_attack,sp_defense,speed,primary_type,secondary_type
0,1,bulbasaur,45,49,49,65,65,45,grass,poison
1,2,ivysaur,60,62,63,80,80,60,grass,poison
2,3,venusaur,80,82,83,100,100,80,grass,poison
3,4,charmander,39,52,43,60,50,65,fire,None
4,5,charmeleon,58,64,58,80,65,80,fire,None
...,...,...,...,...,...,...,...,...,...,...
146,147,dratini,41,64,45,50,50,50,dragon,None
147,148,dragonair,61,84,65,70,70,70,dragon,None
148,149,dragonite,91,134,95,100,100,80,dragon,flying
149,150,mewtwo,106,110,90,154,90,130,psychic,None
150,151,mew,100,100,100,100,100,100,psychic,None